image: "https://gitlab.openindus.com/openindus/oi-tools/docker_idf_npm"

# workflow:
#   rules:
#     - if: '($CI_PIPELINE_SOURCE == "merge_request_event") && ($CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop")'
#     - if: '$CI_COMMIT_TAG'

stages:
  - build

build:
  stage: build
  script: npm run compile